<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="main-view">
    <form action="/register" method="POST">
        <div class="login-form">
            <label class="input-label" for="username">Логин:</label>
            <input class="notes-input" type="text" id="username" name="username" required>
            <br>
            <label class="input-label" for="password">Пароль:</label>
            <input class="notes-input" type="password" id="password" name="password" required>
            <br>
        </div>
        <div style="display: flex; justify-content: space-evenly; padding-top: 16px;">
            <a class="button-primary" href="/login">Назад</a>
            <button class="button-primary btn-success" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</body>
</html>
